*{
    margin:0px;
    padding:0 px;

}
.wrapper{
   
    margin: auto;
 margin-top: 100px;
    width:400px;
    height: 40px;
    }
#eraser{
  float:left;
  width: 50px;
  height: 40px; 
  border-radius: 20%;
  background-color: pink;

}
#neck{
    float:left;
margin-left: -10px; 
height:40px;
width:10px;
background-color: black;
}
#middle{
 float:left;
margin-left: 0; 
height:40px;
width:300px;
background-color: #ffff70;


}
.arrow-right {
float:left;
  width: 0; 
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 40px solid #a9999f;

 
}

#tip {
    margin-top:15px; 
  width: 0; 
  height: 0;
  margin-left: -10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 10px solid black;

  display: inline-block;
}

